header{
    @include md(display, flex);
    @include md(align-items, center);
    @include md(background-color, $black);
    
    .top-header{
        @include md(flex-grow, 1);
        @include md(order, 2);
        @include wrapper-full();
        background-color: $black;
        color: $white;
        font-size: 18px;
        @include lg(font-size, 14px);
        @include xs(padding-left, 0px);
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        
        div{
            display: flex;
            align-items: center;
            padding: 5px 0;
        }
        
        .logo{
            img{
                @include xs(width, 120px);
                @include lg(width, 200px);
            }
        }
        
        .icon{
            @include xs(width, 20px);
            margin-right: 10px;
            @include md(margin-right, 0px);
            @include lg(margin-right, 5px);
        }
        
        .telephones{
            p{
                @include md(display, none);
            }
        }
        
        .request-call{
            background-color: $blue;
            font-weight: 500;
            cursor: pointer;
            padding: 0 40px;
            @include md(display, none);
            @include lg(padding, 0 5px);
        }
        
        .search{
            cursor: pointer;
        }
        
        .basket{
            display: flex;
            cursor: pointer;
            align-items: center;
            background-color: $blue;
            padding: 0 20px;
            @include md(padding, 0 10px);
            @include lg(padding, 0 5px);
            i{
                margin-right: 10px;
                font-size: 24px;
                position: relative;
            }
            
            .cnt{
                background-color: black;
                color: azure;
                position: absolute;
                right: -10px;
                bottom: -11px;
                font-size: 16px;
                font-weight: normal;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                text-align: center;
            }
            
            p{
               @include md(display, none); 
            }
        }
        
        .compare{
            @include md(display, none); 
        }
        
        .language{
            img{
                width: 100%;
                margin-left: 5px;
            }
        }
    }
    
    nav{
        @include md(flex-grow, 0);
        @include md(order, 1);
        
        @include wrapper-full();
        
        .navbar-toggler{
            font-size: 26px;
            display: none;
            color: $white;
            @include md(display, block);
            @include xs(width, 20px);
            
            .hide{
                display: none;
            }
        }
        .menu{
            @include md(display, none);
            @include md(box-shadow, 0 0 10px rgba(0, 0, 0, .5));
            @include md(position, absolute);
            @include md(background, #fff);
            @include md(z-index, 4);
            @include md(border-top, solid 2px $blue);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li.item{
                position: relative;
                padding: 24px 0;
                @include md(padding, 5px 15px);
                a{
                    color: $gray;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 16px;
                    @include lg(font-size, 14px);
                    @include md(font-size, 12px);
                    padding: 25px 0;
                    @include md(padding, 0);
                    i{
                        margin-left: 10px;
                        @include lg(margin-left, 5px);
                    }
                    &:hover{
                        color: $blue;
                    }

                }
                .arrow-up {
                    width: 0px;
                    height: 0px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid $blue;
                    @include md(border-bottom, 0px solid $blue)
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    display: none;
                }
                .submenu{
                    position: absolute;
                    @include md(position, relative);
                    background: $white;
                    top: 100%;
                    z-index: 2000;
                    width: 520px;
                    @include md(width, 190px);
                    border-top: solid 3px $blue;
                    @include md(border-top, solid 2px $blue);
                    display: none;
                    flex-wrap: wrap;
                    padding-bottom: 25px;
                    @include md(padding-bottom, 10px);
                   
                    li{
                        list-style-type: none;
                        flex-basis: 260px;
                        margin-top: 25px;
                        @include md(margin-top, 10px);
                        a{
                            text-transform: none;
                            margin-left: 20px;
                            i{
                                margin-right: 10px;
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
    
}