main{    
    #slider{
        .slide{
            position: relative;
            
            img{
                width: 100%;
            }
            .content{
                position: absolute;
                top: 20%;
                @include lg(top, 15%);
                @include md(top, 10%);
                @include xs(top, 25%);
                right: 100px;
                @include xs(right, 5px);
                @include sm(right, 15px);
                
                z-index: 1001;
                width: 40%;
                @include sm(width, 55%);
                h2{
                    color: $blue2;
                    font-size: 45px;
                    @include lg(font-size, 30px);
                    @include md(font-size, 22px);
                    @include sm(font-size, 16px);
                    @include xs(font-size, 14px);
                    @include xs(text-align, center);
                    font-weight: 500;
                }
                
                p{
                    color: $white;
                    font-size: 18px;
                    @include md(font-size, 16px);
                    @include sm(font-size, 14px);
                    text-align: justify;
                    margin: 20px 0 50px 0;
                    @include lg(margin, 20px 0 25px 0);
                    @include md(margin, 10px 0 15px 0);
                    @include xs(display, none);
                    line-height: 30px;
                    @include md(line-height, 22px);
                    @include sm(line-height, 14px);
                }
                div{
                    text-align: center;
                    padding: 20px 0;
                    @include sm(padding, 5px 0);
                    .btn{
                        padding: 20px 75px;
                        @include lg(padding, 10px 50px);
                        @include sm(padding, 5px 30px);
                        @include xs(padding, 5px 20px);
                    }
                }
            }
        }
        img.control.slick-arrow{
            position: absolute;
            z-index: 1000;
            bottom: 30px;
            @include xs(bottom, 5px);
            @include xs(width, 15px);
            cursor: pointer;
        }
        
        img.control.next.slick-arrow{
            right: 100px;
            @include xs(right, 30px);
        }

        img.control.prev.slick-arrow{
            right: 40px;
            @include xs(right, 10px);
        }
        
        .slick-dots li.slick-active button:before {
            opacity: 1.0;
            color: $blue;
        }
        .slick-dots li {
            @include xs(width, 5px);
        }
        
        .slick-dots li.slick-active button:before {
            font-size: 20px;
            @include xs(font-size, 10px);
        }
        .slick-dots li button:before {
            font-size: 10px;
            @include xs(font-size, 5px);
            color: $white;
            opacity: 1;
        }
        
        .slick-dots li:hover button:before{
            color: $blue;
        }
        .slick-dots {
            bottom: 30px;
            @include xs(bottom, 0px);
        }
    }
    .our-products-content{
        @include wrapper-full();
        text-align: center;
        
        h3{
            color: $blue;
            font-size: 30px;
            margin: 80px 0 40px 0;
        }
    
        p{
            font-size: 18px;
            margin: 40px 0;
            color: $gray;
        }
    }
    .bg{
        min-height: 90px;
        background-color: $gray-light;
        @include md(display, none);
    }
    .our-products{
        @include wrapper-full();
        
        .container{
            @include row-flex();
            justify-content: space-around;
            
            .product{
                @include col();
                width: 22%;
                @include size-lg(3);
                @include size-md(6);
                @include size-sm(12);
    
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                border-right: solid 2px $white;
                margin-top: -90px;
                @include md(margin-top, 50px);
                justify-content: space-around;
                &:last-child{
                     border-right: 0;
                }
                .img{
                    margin: 0 0 auto 0;
                    img{
                        transition: all .7s ease-out;
                        &:hover{
                           transform: scale(1.1); 
                        }
                    }
                }
                .title{
                    font-size: 22px;
                    color: $gray;
                    margin: 10px 0;
                    text-align: center;
                    hr{
                        border-width: 0px;
                        border-bottom: 2px solid $blue;
                        width: 50px;
                    }
                }
                .description{
                    font-size: 16px;
                    color: $gray;
                    margin: 10px 0 30px 0;
                    p{
                        text-align: center;
                    }
                }
                .link{
                    padding: 13px 0;
                    .btn{
                        padding: 13px 55px;
                    }
                }
            }
        }
    }
    .prodocts-by-categories{
        @include wrapper-full();
        background-color: $gray-light;
        text-align: center;
        h3{
            color: $blue;
            font-size: 30px;
            margin: 80px 0 40px 0;
        }
    
        p{
            font-size: 18px;
            margin: 40px 0;
            color: $gray;
        }
        
        .categories{
            @include row-flex();
            
            .category{
                @include col();
                @include size(4);
                @include size-md(6);
                @include size-xs(12);
                position: relative;
                margin-bottom: 15px;
                overflow: hidden;
                
                img{
                    vertical-align:bottom;
                    width: 100%;
                    transition: all .7s ease-out;
                }
                
                .wrap{
                    background: rgba(0, 0, 0, .6);
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    
                    .title{
                        width: calc(100% - 30px);
                        height: calc(100% - 30px);
                        margin: 15px;
                        border: solid 2px $gray;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        position: absolute;
                        left: -1px;
                        top: -1px;
                        align-items: center;
                        
                        a{
                            margin: 0;
                            font-size: 28px;
                            @include lg(font-size, 22px);
                            @include md(font-size, 18px);
                            color: $white;
                            text-decoration: none;
                            text-align: center;
                            
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    .programs-brand{
        @include wrapper-full();
        text-align: center;
        h3{
            color: $blue;
            font-size: 30px;
            margin: 80px 0 40px 0;
        }
    
        p{
            font-size: 18px;
            margin: 40px 0;
            color: $gray;
        }

        .brands{
            @include row-flex();
            align-items: center;
            
            .program{
                @include col();
                @include size(2);
                @include size-md(3);
                @include size-xs(6);
                margin-bottom: 30px;
            }
        }
    }
    .about{
        padding-bottom: 40px;
        margin-top: 80px;
        
        h3{
            font-size: 30px;
            color: $blue;
            text-align: center;
            margin-bottom: 40px;
        }

        .content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .text{
                font-size: 16px;
                color: $gray;
                margin: 0 40px;
                @include xs(margin,  0 15px);
                flex-basis: 40%;
                flex-grow: 1;
                
                p{
                    margin-bottom: 15px;
                    line-height: 24px;
                    text-indent: 30px;
                    text-align: justify;
                }
            }
            
            .img{
                text-align: right;
                flex-grow: 1;
                @include xs(display, none);
            }
        }
    }
    .advantages{
        @include wrapper-full();
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        
        .advantag{
            flex-basis: 20%;
            @include md(flex-basis, 33%);
            @include xs(flex-basis, 100%);
            text-align: center;
            p{
                font-size: 18px;
                color: $gray;
                margin: 15px 0;
            }
        }
    }
    .our-clients{
        @include wrapper-full();
        padding-bottom: 40px;
        margin-top: 80px;
        box-shadow: inset 0 3px 20px -10px rgba(0, 0, 0, 0.5);
        
        
        h4{
            padding: 80px 0 40px 0;
            font-size: 30px;
            color: $blue;
            text-align: center;
        }
        
        .clients{
            .client{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 130px;
                @include lg(height, 60px);
                padding: 30px 50px;
                margin: 20px;
                box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
            }
        }
    }
}