main{
    @import "breadcrumb";
    @import "title-page";
    
    .wrapper{
        @include wrapper-full();
        
        .list-products{
            @include row-flex();
            margin-top: 40px;
            
            .elem{
                @include col();
            }
            
            .left-bar{
                @include size(3);
                
                .filters{
                    border: solid 1px #eee;
                    
                    h3{
                        font-size: 20px;
                        text-align: center;
                        color: $gray;
                        padding: 40px 0;
                    }
                    
                    .params{
                        padding: 20px;
                        border-top: solid 1px #eee;
                        
                        .title-params{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            font-size: 16px;
                            margin-bottom: 15px;
                            
                            h4{
                                color: $blue;
                            }
                            
                            i{
                                color: #dcdcdc;
                                padding: 5px 8px;
                                border: solid 1px #dcdcdc;
                                border-radius: 50%;
                                cursor: pointer;
                            }
                        }
                        
                        .value-params{
                            .checkbox{
                                margin-bottom: 15px;
                                
                                span{
                                    color: $gray;
                                }
                            }
                        }
                    }
                }
            }
            
            .right-bar{
                @include size(9);
                
                .filters-active{
                    margin-bottom: 40px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    
                    .list-active-filters{
                        display: flex;
                        flex-wrap: wrap;
                        
                        li.filter-active{
                            color: $gray;
                            font-size: 16px;
                            background-color: #f1f2f2;
                            margin-right: 10px;
                            padding: 10px 10px 10px 20px;
                            border-radius: 30px;
                            cursor: pointer;
                            
                            span{
                               margin-right: 10px; 
                            }
                            i{
                                color: #dcdcdc;
                            }
                        }
                        li.reset{
                            font-size: 16px;
                            color: $gray;
                            padding: 10px 20px;
                            border-radius: 30px;
                            cursor: pointer;
                            border: solid 1px #fac0b5;
                        }
                        
                    }
                    
                    .sorts{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        color: $gray;
                        
                        .sort{
                            margin-right: 20px;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            
                            span{
                                margin-right: 10px;    
                            }
                            
                            .select{
                                min-width: 205px;
                            }
                            
                        }
                        
                        .view{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            font-size: 20px;
                            
                            li{
                                margin-left: 10px;
                                padding: 7px;
                                border-radius: 5px;
                                background-color: #f1f2f2;
                                cursor: pointer;
                            }
                            
                            li.active{
                                color: $blue;
                            }
                        }
                    }
                }
                .products{
                    @include row-flex();
                    
                    @import "product";
                    .product{
                        @include col();
                        @include size(4);
                    }
                }
                .products-inline{
                    display: none;
                    .product-inline{
                        display: flex;
                        border: 1px solid #eee;
                        border-radius: 3px;
                        box-shadow: 0 0 10px 3px rgba(238, 238, 238, .7);
                        margin-bottom: 20px;
                        
                        .img{
                            padding: 20px 60px;
                            
                            img{
                                transition: all .7s ease-out;
                                &:hover{
                                   transform: scale(1.1); 
                                }
                            }
                        }
                        
                        .content{
                            .title{
                                display: flex;
                                justify-content: space-between;
                                padding: 20px 20px 20px 0;
                                
                                a{
                                    font-size: 20px;
                                    color: $black;
                                    text-decoration: none;
                                    
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                                
                                .tools{
                                    span{
                                        margin-right: 10px; 
                                    }
                                }
                            }
                            
                            .price{
                                margin: 5px 0;
                                span{
                                    background-color: $blue;
                                    color: $white;
                                    padding: 10px 30px;

                                    strong{
                                        font-weight: 600;
                                        font-size: 16px;
                                    }
                                }
                            }
                            .description{
                                font-size: 18px;
                                color: $gray;
                                padding: 20px 20px 20px 0;
                            }
                            
                            .buy{
                                padding: 0 20px 20px 0;
                                text-align: right;
                                .btn{
                                    padding: 15px 60px; 
                                }
                            }
                        }
                        
                    }
                }
            }
        }
        
        .text{
            
            h2{
                font-size: 24px;
                color: $gray;
                padding: 20px 0;
            }
            
            p{
                font-size: 16px;
                color: $gray;
                padding-bottom: 20px;
                text-align: justify;
            }
        }
        .interesting-goods{
            margin-top: 20px;
            border-top: 2px solid $gray-light;
            h3{
                font-size: 24px;
                color: $gray;
                padding: 20px 0;
            }
            
            .interesting-goods-wrap{
                margin: 0 -20px;
            }
            
            .slick-slide img {
                display: inherit;
            }
            
            @import "product";
            
            .product{
                margin: 0 20px 40px 20px;
            }
            
            .control{
                position: absolute;
                top: -50px;
                right: 15px;
                cursor: pointer;
            }
            
            .left{
                right: 60px;
            }
        }
    }
}