main{
    @import "breadcrumb";
    @import "title-page";
    
    .wrapper{
        @include wrapper-full();
        
        .product{
            @include row-flex();
            margin-top: 50px;
            
            .elem{
                @include col();
            }
            
            .imgs{
                @include size(4);
                @include size-lg(12);
                
                .control{
                    position: absolute;
                    top: 45%;
                    cursor: pointer;
                    z-index: 9;
                    margin: 0 15px;
                }
                
                .next{
                    right: 0;
                }
                
                .prev{
                    left: 0;
                }
                
                .slick-slide {
                    cursor: default;
                }
                
                .slider-product{
                    border: solid 1px red;
                    padding: 25px 0;
                    margin-bottom: 25px;
                    border: 1px solid #eee;
                    box-shadow: 0 0 10px 3px rgba(238, 238, 238, 0.7);
                    border-radius: 3px;
                    
                    .item{
                        display: flex;
                        justify-content: center;
                    }
                }
                
                .slider-nav-product{
                    margin: 0 -20px;
                    @include lg(display, none);
                    
                    .item{
                        margin: 0 20px;
                        border: 2px solid #eee;
                        box-shadow: 0 0 10px 3px rgba(238, 238, 238, 0.7);
                        cursor: pointer;
                        border-radius: 3px;
                    }
                    
                    .item.slick-current{
                        border: 2px solid $blue;
                    }
                }
                
                .add-page{
                    @include lg(display, none);
                    p{
                        padding: 40px 0 20px 0;
                    }
                }
            }
            
            .prop{
                @include size(4);
                @include size-lg(6);
                @include size-md(12);
                
                .availability-code{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    @include md(justify-content, space-between);
                    
                    .availability{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        
                        img{
                            margin-right: 10px; 
                        }
                        
                        span{
                            color: $gray;
                            font-size: 18px;
                            @include xs(font-size, 14px);
                        }
                    }
                    
                    .code{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        
                        img{
                            margin-right: 10px;
                        }
                        
                        p{
                            color: $gray;
                            font-size: 18px;
                            @include xs(font-size, 14px);
                        }
                    }
                }
                .price{
                    margin-top: 50px;
                    margin-bottom: 20px;
                    text-align: center;
                    
                    span{
                        color: $gray;
                        font-size: 30px;
                    }
                }
                
                .buy{
                    text-align: center;
                    margin-bottom: 30px;
                    
                    .btn.green{
                        padding: 20px 80px;
                        @include md(width, 100%);
                        @include md(border-radius, 0);
                    }
                }
                
                .tools{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    @include md(display, none);
                    
                    .compare a, .favorites a{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        color: $blue;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                        
                        img{
                            margin-right: 10px;
                        }
                    }
                }
                
                .properties{
                    margin-top: 60px;
                    
                    .property{
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: 20px;
                        align-items: flex-start;
                        justify-content: center;
                        @include md(justify-content, start);
                        
                        .img{
                            margin-right: 10px;
                            flex-basis: 60px;
                            text-align: center;
                            
                        }
                        
                        .text{
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            font-size: 16px;
                            flex-basis: 285px;
                            @include xlg(flex-basis, 280px);
                            @include xs(flex-basis, 220px);
                            
                            .name{
                                color: $blue;
                                margin-bottom: 5px;
                            }
                            
                            .value{
                                color: $gray;
                            }
                        }
                    }
                }
            }
            
            .conditions{
                @include size(4);
                @include size-lg(6);
                @include size-md(12);
                border-left: solid 1px #ede9e9;
                @include md(border-left, none);
                @include md(border-top, solid 1px #ede9e9);
                @include md(padding-top, 30px);
                @include md(margin-top, 40px);
                padding-left: 20px;
                @include md(padding-left, 0);
                
                .return, .guarantee, .delivery, .payment{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    color: $gray;
                    margin-bottom: 20px;
                    padding-left: 30px;
                    @include md(padding-left, 0);
                    padding-bottom: 30px;
                    border-bottom: solid 1px #ede9e9;
                    
                    img{
                        margin-right: 20px;
                    }
                    
                    .text{
                        flex-basis: 300px;
                        @include xlg(flex-basis, 230px);
                        @include md(flex-basis, 300px);
                        @include xs(flex-basis, 215px);
                        
                        a{
                            color: $blue;
                            text-decoration: none;
                            display: inline-block;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        
                        .btn{
                            font-size: 14px;
                            text-transform: none;
                            color: $white;
                            font-weight: normal;
                            border-radius: 3px;
                            text-decoration: none;
                            padding: 3px 10px;
                            
                            &:hover{
                                background-color: $blue;
                            }
                        }
                        
                        .btn.no-active{
                            background-color: #94e0fe;
                            border-color: #94e0fe;
                        }
                        
                        li{
                            margin-bottom: 10px;
                        }
                        
                        .title{
                            font-size: 18px;
                            font-weight: 600;
                            text-transform: uppercase;
                            margin-bottom: 10px;
                        }
                    }
                }
                
                .return{
                    border-bottom: none;
                    margin-bottom: 0;
                }
                
                .delivery{
                    .text{
                        .title{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;
                            
                            p{
                                margin-right: 10px;
                                @include xlg(margin-bottom, 10px);
                                @include md(margin-bottom, 0);
                                @include xs(margin-bottom, 10px);
                            }
                            
                        }
                    }
                }
                
                .payment{
                   @include md(border-bottom, none); 
                   @include md(padding-bottom, 0); 
                }
                
                .tests{
                    margin-bottom: 40px;
                    @include md(display, none);
                    .title{
                        text-align: center;
                        color: $gray;
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        align-items: flex-end;
                        
                        li{
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            color: $gray;
                            text-align: center;
                            flex-basis: 90px;
                            @include xlg(flex-basis, 80px);
                            
                            img{
                                align-self: center;
                                margin-bottom: 10px;
                            }
                            
                            .name{
                                margin-bottom: 10px;
                            }
                            
                            .value{
                                background-color: $blue;
                                color: $white;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        
        .content{
            margin-top: 60px;
            .tab{
                border: solid 1px $gl;
                border-radius: 3px;
                border-top: none;
                padding-bottom: 50px;
                box-shadow: 0 0 10px 3px rgba(238, 238, 238, 0.7);
                @include md(box-shadow, none);
            }
            
            h4{
                display: none;
                font-size: 20px;
                color: $white;
                background: $black;
                padding: 20px;
                /*@include md(display, block);*/
            }
            
            ul{
                display: flex;
                /*@include md(display, none);*/

                
                li{
                    flex-basis: 33%;
                    background-color: #e4e7ec;
                    margin-right: 10px;
                    text-align: center;
                    padding: 10px 0;
                    border-radius: 10px 10px 0 0;
                    &:focus{
                            outline: none;
                        }
                    &:active{
                        outline: none;
                    }
                    
                    a{
                        font-size: 20px;
                        text-decoration: none;
                        color: $gray;
                        display: block;
                        
                        &:focus{
                            outline: none;
                        }
                        &:active{
                            outline: none;
                        }
                    }
                    
                    &:last-child{
                        margin-right: 0px;
                    }
                }
                
                li.ui-tabs-active{
                    background-color: $black;
                    
                    a{
                        color: $white;
                    }
                }
            }
            
            .prop{
                color: $gray;
                
                h2{
                    text-align: center;
                    font-size: 22px;
                    color: $gray;
                    padding: 50px 0;
                    
                    span{
                        color: $blue;
                    }
                }
                
                p{
                    font-size: 16px;
                    padding: 0 50px;
                    text-align: justify;
                    line-height: 26px;
                    font-family: Roboto-Light;
                }
                
                .table-block{
                    position: relative;
                    margin-top: 60px;
                    
                    h3{
                        font-size: 20px;
                        font-weight: 600;
                        padding: 25px 0 25px 30px;
                    }
                    
                    table{
                        @include md(width, 100%);
                        tr:nth-child(even){
                            background-color: #f4f4f5;
                        }
                        td{
                            border: solid 1px $gl;
                            border-left: none;
                            font-size: 16px;
                            padding: 10px 0 10px 30px;
                            width: 400px;
                            @include lg(width, 300px);
                            @include md(width, 50%);
                            @include lg(font-size, 16px);
                            
                            &:last-child{
                                @include xlg(width, 200px);
                                @include lg(width, 100px);
                            }
                        }
                    }
                    
                    .pursuing-goods{
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 73px 50px 0 0;
                        @include md( margin, 73px -40px 0 0);
                        width: 380px;
                        display: flex;
                        flex-direction: column;
                        
                        .wrap{
                            border: solid 1px $gl;
                        }
                        
                        .header{
                            display: flex;
                            flex-wrap: wrap;
                            text-align: center;
                            border-bottom: solid 1px $gl;
                            @include md(display, none);
                            
                            a{
                                padding: 15px 0;
                                text-decoration: none;
                                color: $gray;
                            }
                            
                            .your-product{
                                background-color: #94e0fe;
                                color: $white;
                                flex-basis: 50%;
                            }
                            
                            .payment{
                                flex-basis: 50%;
                            }
                        }
                        
                        .title{
                            font-size: 16px;
                            text-align: center;
                            padding: 20px 0;
                            @include md(padding, 0);
                            border-bottom: solid 1px $gl;
                            @include md(display, none);
                        }
                        
                        .body{
                            display: flex;
                            /*flex-wrap: wrap;*/
                            align-items: center;
                            border-bottom: solid 1px $gl;
                            
                            .img{
                                padding: 40px 0 40px 40px;
                                flex-basis: 50%;
                                @include md(display, none);
                                
                                img{
                                    width: 130px;
                                }
                            }
                            
                            .info{
                                flex-basis: 50%;
                                text-align: center;
                                padding-right: 10px;
                                @include md(display, flex);
                                @include md(flex-basis, 100%);
                                @include md(align-items, center);
                                @include md(justify-content, space-around);
                                @include md(background-color, $black);
                                @include md(color, $white);
                                
                                div{
                                    margin: 15px 0;
                                }
                                
                                .price{
                                    font-size: 22px;
                                }
                                
                                .buy{
                                    .btn.green{
                                        padding: 10px 50px;
                                        @include md(padding, 5px 40px);
                                        @include md(font-size, 16px);
                                        @include md(background-color, $blue);
                                        @include md(border-color, $blue);
                                        @include md(color, $white);
                                        
                                    }
                                }
                                
                                .availability{
                                    @include md(display, none);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    
                                    img{
                                        margin-right: 10px;
                                    }
                                }
                                
                                .arrow{
                                    display: none;
                                    @include md(display, block);
                                    @include md(font-size, 28px);
                                }
                            }
                        }
                        
                        .tools{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                            padding: 10px 0;
                            @include md(display, none);
                            
                            div a{
                                color: $blue;
                                text-decoration: none;
                                display: flex;
                                align-items: center;
                                
                                img{
                                    margin-right: 10px;
                                }
                                
                                &:hover{
                                    text-decoration:underline;
                                }
                            }
                        }
                        
                        .add-page{
                            @include md(display, none);
                            p{
                                margin: 0;
                                padding: 20px 0;
                            }
                        }
                    }
                    .pursuing-goods.fix{
                        position: fixed;
                        right: 40px;
                        background-color: $white;
                        z-index: 1;
                        margin: 0 50px 0 0;
                        @include md(margin, 0 -40px 0 0);
                    }
                    .pursuing-goods.abs-bottom{
                        position: absolute;
                        bottom: 0px;
                        top: inherit;
                        margin: 0 50px 0 0;
                        @include md(margin, 0 -40px 0 0);
                    }
                }
            }
        }
        
        @import "interesting-goods";
        .interesting-goods{
            border-top: none;
        }

    }
}