@import "smart-grid";
@import "fonts";
/*@import "../libs/Font-Awesome/web-fonts-with-css/css/fontawesome-all.css";*/
@include reset();

$white: #fff;
$black: #000f26;
$blue: #00a1e1;
$blue2: #94e0fe;
$gray: #747474;
$gray-light: #f7f8f8;
$green: #0abe00;
$gl: #ede9e9;

body{
    font-family: Roboto, Verdana;
    font-size: 14px;
}


.slick-slide {
    &:focus, a {
        outline: none;
    }
    cursor: move;
}

.btn{
    color: $white;
    font-size: 20px;
    @include sm(font-size, 14px);
    @include xs(font-size, 12px);
    text-transform: uppercase;
    text-decoration: none;
    background-color:$blue; 
    border-radius: 35px;
    cursor: pointer;
    border: none;
    transition: .5s;
    border: solid 2px $blue;
    &:hover{
        /*text-decoration: underline;*/
        background-color: $white;
        color: $blue;
    }
}

.btn.green{
    font-size: 20px;
    background-color: $green;
    font-weight: 600;
    border-color: $green;

    &:hover{
        color: $green;
        background-color: $white;
    }
}

.select{
    border: solid 1px #f1f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 3px 15px -10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;

    i{
        margin-left: 10px;
    }

    .options{
        display: none;
        position: absolute;
        background-color: $white;
        border: solid 1px #f1f2f2;
        border-top: none;
        border-radius: 0 0 5px 5px;
        width: 100%;
        left: -1px;
        top: 100%;
        padding: 0 0 10px 0;
        z-index: 1000;

        .option{
            padding: 5px 10px;
            &:hover{
                background-color: #f1f2f2;
            }
        }
    }
}

.select.btn-big{
    box-shadow: none;
    border: solid 1px #e3e2e2;
    border-radius: 5px 0 0 5px;
    color: $gray;
    
    i{
        margin-left: 10px;
        position: absolute;
        top: -1px;
        right: -50px;
        background-color: #00a1e1;
        color: #fff;
        padding: 5px 15px;
        border-radius: 0 5px 5px 0;
        font-size: 31px;
    }
    
    .options{
        border: solid 1px #e3e2e2;
        border-top: none;
        top: 96%;
    }
}

.select.btn-big.big{
    /*width: 252px;*/
}

.select.btn-big.small{
    /*width: 75px;*/
}

.select-new{
    display: flex;
    align-items: start;
    color: $gray;
    
    .options{
        flex-grow: 1;
        position: relative;
        
        span{
            border: solid 1px #e3e2e2;
            border-right: none;
            border-radius: 5px 0 0 5px;
            display: flex;
            padding: 11px;
        }
        
        .list-sort-params{
            display: none;
            position: absolute;
            width: 100%;
            border: solid 1px #e3e2e2;
            border-top: none;
            border-radius: 0 0 5px 5px;
            box-sizing: border-box;
            z-index: 10;
            background-color: $white;
            
            li{
                padding: 5px 0 5px 10px;
                cursor: pointer;
                
                &:hover{
                    background-color: #e3e2e2;
                }
            }
        }
    }
    
    .button{
        color: $white;
        background-color: $blue;
        font-size: 24px;
        padding: 5px 15px 7px 15px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }
}

.checkbox{
    i{
        border: solid 1px #f1f2f2;
        background-color: #f7f7f7;
        border-radius: 3px;
        color: #f7f7f7;
        padding: 3px;
        /*box-shadow: inset 0 3px 10px -6px rgba(0, 0, 0, 0.9);*/
        box-shadow: inset 0 3px 8px -8px rgba(0, 0, 0, 0.7);
        cursor: pointer;
        margin-right: 10px;
    }
    i.active{
        color: $blue;
    }
}

input{
    &:focus{
        outline: none;
    }
    &:active{
        outline: none;
    }
}

.add-page{
    color: $gray;
    
    p{
        font-size: 16px;
    }
    
    .container{
        display: flex;
        flex-wrap: wrap;
        
        div{
            margin-right: 10px;
            display: flex;
            
            span{
                font-size: 18px;
                padding: 8px;
                cursor: pointer;
                width: 25px;
                text-align: center;
            }
        }
        
        .fb{
            border: solid 1px #3b5998;
            border-radius: 7px;
            color: #3b5998;
            .cnt{
                border-left: solid 1px #3b5998;
            }
        }
        .google{
            border: solid 1px #dc4e41;
            border-radius: 7px;
            color: #dc4e41;
            .cnt{
                border-left: solid 1px #dc4e41;
            }
        }
        
        .star{
            border: solid 1px $blue;
            border-radius: 7px;
            color: $blue;
            .cnt{
                border-left: solid 1px $blue;
            }
        }
        
    }
}

@import "header";
@import "index";
@import "contacts";
@import "list-products";
@import "product-page";
@import "order";
@import "footer";
