@import "smart-grid";
@import "fonts";
@import "../libs/Font-Awesome/web-fonts-with-css/css/fontawesome-all.css";
@include reset();

$white: #fff;
$black: #000f26;
$blue: #00a1e1;
$blue2: #94e0fe;
$gray: #747474;
$gray-light: #f7f8f8;

body{
    font-family: Roboto, Verdana;
    font-size: 14px;
}

.slick-slide {
    &:focus, a {
        outline: none;
    }
    cursor: move;
}

.btn{
    color: $white;
    font-size: 20px;
    @include sm(font-size, 14px);
    @include xs(font-size, 12px);
    text-transform: uppercase;
    text-decoration: none;
    background-color:$blue; 
    border-radius: 35px;
    &:hover{
        text-decoration: underline;
    }
}

@import "header";
@import "index";
@import "footer";