@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/*@import "../libs/Font-Awesome/web-fonts-with-css/css/fontawesome-all.css";*/

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, Verdana;
  font-size: 14px;
}

.slick-slide {
  cursor: move;
}

.slick-slide:focus,
.slick-slide a {
  outline: none;
}

.btn {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #00a1e1;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  cursor: pointer;
}

.btn:hover {
  text-decoration: underline;
}

header .top-header {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #000f26;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

header .top-header div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
}

header .top-header .icon {
  margin-right: 10px;
}

header .top-header .request-call {
  background-color: #00a1e1;
  font-weight: 500;
  cursor: pointer;
  padding: 0 40px;
}

header .top-header .search {
  cursor: pointer;
}

header .top-header .basket {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00a1e1;
  padding: 0 20px;
}

header .top-header .language img {
  width: 100%;
  margin-left: 5px;
}

header nav {
  padding-left: 40px;
  padding-right: 40px;
}

header nav .navbar-toggler {
  font-size: 26px;
  display: none;
  color: #fff;
}

header nav .navbar-toggler .hide {
  display: none;
}

header nav .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header nav .menu li.item {
  position: relative;
  padding: 24px 0;
}

header nav .menu li.item a {
  color: #747474;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 25px 0;
}

header nav .menu li.item a i {
  margin-left: 10px;
}

header nav .menu li.item a:hover {
  color: #00a1e1;
}

header nav .menu li.item .arrow-up {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #00a1e1;
  position: absolute;
  left: 50%;
  bottom: 0;
  display: none;
}

header nav .menu li.item .submenu {
  position: absolute;
  background: #fff;
  top: 100%;
  z-index: 2000;
  width: 520px;
  border-top: solid 3px #00a1e1;
  display: none;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

header nav .menu li.item .submenu li {
  list-style-type: none;
  -webkit-flex-basis: 260px;
  -ms-flex-preferred-size: 260px;
  flex-basis: 260px;
  margin-top: 25px;
}

header nav .menu li.item .submenu li a {
  text-transform: none;
  margin-left: 20px;
}

header nav .menu li.item .submenu li a i {
  margin-right: 10px;
  color: #00a1e1;
}

main #slider .slide {
  position: relative;
}

main #slider .slide img {
  width: 100%;
}

main #slider .slide .content {
  position: absolute;
  top: 20%;
  right: 100px;
  z-index: 1001;
  width: 40%;
}

main #slider .slide .content h2 {
  color: #94e0fe;
  font-size: 45px;
  font-weight: 500;
}

main #slider .slide .content p {
  color: #fff;
  font-size: 18px;
  text-align: justify;
  margin: 20px 0 50px 0;
  line-height: 30px;
}

main #slider .slide .content div {
  text-align: center;
  padding: 20px 0;
}

main #slider .slide .content div .btn {
  padding: 20px 75px;
}

main #slider img.control.slick-arrow {
  position: absolute;
  z-index: 1000;
  bottom: 30px;
  cursor: pointer;
}

main #slider img.control.next.slick-arrow {
  right: 100px;
}

main #slider img.control.prev.slick-arrow {
  right: 40px;
}

main #slider .slick-dots li.slick-active button:before {
  opacity: 1.0;
  color: #00a1e1;
}

main #slider .slick-dots li.slick-active button:before {
  font-size: 20px;
}

main #slider .slick-dots li button:before {
  font-size: 10px;
  color: #fff;
  opacity: 1;
}

main #slider .slick-dots li:hover button:before {
  color: #00a1e1;
}

main #slider .slick-dots {
  bottom: 30px;
}

main .our-products-content {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

main .our-products-content h3 {
  color: #00a1e1;
  font-size: 30px;
  margin: 80px 0 40px 0;
}

main .our-products-content p {
  font-size: 18px;
  margin: 40px 0;
  color: #747474;
}

main .bg {
  min-height: 90px;
  background-color: #f7f8f8;
}

main .our-products {
  padding-left: 40px;
  padding-right: 40px;
}

main .our-products .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

main .our-products .container .product {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: 22%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: solid 2px #fff;
  margin-top: -90px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

main .our-products .container .product:last-child {
  border-right: 0;
}

main .our-products .container .product .img {
  margin: 0 0 auto 0;
}

main .our-products .container .product .img img {
  -webkit-transition: all .7s ease-out;
  -o-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

main .our-products .container .product .img img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

main .our-products .container .product .title {
  font-size: 22px;
  color: #747474;
  margin: 10px 0;
  text-align: center;
}

main .our-products .container .product .title hr {
  border-width: 0px;
  border-bottom: 2px solid #00a1e1;
  width: 50px;
}

main .our-products .container .product .description {
  font-size: 16px;
  color: #747474;
  margin: 10px 0 30px 0;
}

main .our-products .container .product .description p {
  text-align: center;
}

main .our-products .container .product .link {
  padding: 13px 0;
}

main .our-products .container .product .link .btn {
  padding: 13px 55px;
}

main .prodocts-by-categories {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #f7f8f8;
  text-align: center;
}

main .prodocts-by-categories h3 {
  color: #00a1e1;
  font-size: 30px;
  margin: 80px 0 40px 0;
}

main .prodocts-by-categories p {
  font-size: 18px;
  margin: 40px 0;
  color: #747474;
}

main .prodocts-by-categories .categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

main .prodocts-by-categories .categories .category {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}

main .prodocts-by-categories .categories .category img {
  vertical-align: bottom;
  width: 100%;
  -webkit-transition: all .7s ease-out;
  -o-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

main .prodocts-by-categories .categories .category .wrap {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

main .prodocts-by-categories .categories .category .wrap .title {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  height: calc(100% - 30px);
  margin: 15px;
  border: solid 2px #747474;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: -1px;
  top: -1px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

main .prodocts-by-categories .categories .category .wrap .title a {
  margin: 0;
  font-size: 28px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

main .prodocts-by-categories .categories .category .wrap .title a:hover {
  text-decoration: underline;
}

main .programs-brand {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

main .programs-brand h3 {
  color: #00a1e1;
  font-size: 30px;
  margin: 80px 0 40px 0;
}

main .programs-brand p {
  font-size: 18px;
  margin: 40px 0;
  color: #747474;
}

main .programs-brand .brands {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

main .programs-brand .brands .program {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(16.66667% - 30px);
  width: calc(16.66667% - 30px);
  margin-bottom: 30px;
}

main .about {
  padding-bottom: 40px;
  margin-top: 80px;
}

main .about h3 {
  font-size: 30px;
  color: #00a1e1;
  text-align: center;
  margin-bottom: 40px;
}

main .about .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main .about .content .text {
  font-size: 16px;
  color: #747474;
  margin: 0 40px;
  -webkit-flex-basis: 40%;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

main .about .content .text p {
  margin-bottom: 15px;
  line-height: 24px;
  text-indent: 30px;
  text-align: justify;
}

main .about .content .img {
  text-align: right;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

main .advantages {
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

main .advantages .advantag {
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  text-align: center;
}

main .advantages .advantag p {
  font-size: 18px;
  color: #747474;
  margin: 15px 0;
}

main .our-clients {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-top: 80px;
  -webkit-box-shadow: inset 0 3px 20px -10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 20px -10px rgba(0, 0, 0, 0.5);
}

main .our-clients h4 {
  padding: 80px 0 40px 0;
  font-size: 30px;
  color: #00a1e1;
  text-align: center;
}

main .our-clients .clients .client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 130px;
  padding: 30px 50px;
  margin: 20px;
  -webkit-box-shadow: 0 0 10px 5px #dddddd;
  box-shadow: 0 0 10px 5px #dddddd;
}

main .breadcrumb {
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: inset 0 3px 20px -10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 20px -10px rgba(0, 0, 0, 0.5);
}

main .breadcrumb li {
  margin: 40px 15px 40px 0;
}

main .breadcrumb li img {
  margin-right: 8px;
}

main .breadcrumb li a {
  color: #00a1e1;
  text-decoration: none;
}

main .breadcrumb li a:hover {
  text-decoration: underline;
}

main .title-page {
  background: url(../img/lines.png) #000f26;
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
  padding: 20px 0;
}

main .title-page h1 {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 24px;
}

main .wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

main .wrapper .contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px 0 0 0;
}

main .wrapper .contacts div.elem {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

main .wrapper .contacts .left-bar {
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
}

main .wrapper .contacts .left-bar .call-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 40px 0;
}

main .wrapper .contacts .left-bar .call-us img {
  margin-right: 5px;
}

main .wrapper .contacts .left-bar .call-us h2 {
  color: #747474;
  font-weight: 600;
  font-size: 24px;
}

main .wrapper .contacts .left-bar h3 {
  font-size: 20px;
  color: #00a1e1;
  padding: 0 0 20px 0;
}

main .wrapper .contacts .left-bar li {
  font-size: 20px;
  color: #747474;
  padding: 0 0 15px 0;
}

main .wrapper .contacts .left-bar .write-us,
main .wrapper .contacts .left-bar .schedule {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #747474;
  padding: 40px 0 0px 0;
}

main .wrapper .contacts .left-bar .write-us img,
main .wrapper .contacts .left-bar .schedule img {
  margin-right: 5px;
}

main .wrapper .contacts .left-bar .write-us h2,
main .wrapper .contacts .left-bar .schedule h2 {
  font-size: 24px;
  font-weight: 600;
}

main .wrapper .contacts .left-bar .write-us ul,
main .wrapper .contacts .left-bar .schedule ul {
  padding: 20px 0 0 0;
  width: 100%;
}

main .wrapper .contacts .right-bar {
  width: -webkit-calc(75% - 30px);
  width: calc(75% - 30px);
}

main .wrapper .contacts .right-bar .location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 40px 0;
}

main .wrapper .contacts .right-bar .location img {
  margin-right: 5px;
}

main .wrapper .contacts .right-bar .location h2 {
  color: #747474;
  font-weight: 600;
  font-size: 24px;
}

main .wrapper .contacts .right-bar .map address {
  font-size: 22px;
  color: #747474;
  padding: 0 0 40px 0;
}

main .wrapper .contacts .feedback {
  width: -webkit-calc(58.33333% - 30px);
  width: calc(58.33333% - 30px);
}

main .wrapper .contacts .feedback p {
  font-size: 24px;
  color: #747474;
  text-align: center;
  font-weight: 600;
  padding: 40px 0;
}

main .wrapper .contacts .feedback form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

main .wrapper .contacts .feedback form label {
  display: block;
  font-size: 16px;
  color: #747474;
  font-size: bold;
  margin-bottom: 15px;
}

main .wrapper .contacts .feedback form .form-group {
  width: 40%;
}

main .wrapper .contacts .feedback form .form-group input {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f7f8f8;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 15px;
  -webkit-box-shadow: inset 0 3px 15px -10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 15px -10px rgba(0, 0, 0, 0.5);
}

main .wrapper .contacts .feedback form .form-group input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 4px rgba(0, 161, 225, 0.7);
  box-shadow: 0 0 4px rgba(0, 161, 225, 0.7);
}

main .wrapper .contacts .feedback form .form-group input:active {
  outline: none;
}

main .wrapper .contacts .feedback form textarea {
  width: 100%;
  background-color: #f7f8f8;
  margin: 40px 0;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 15px;
  -webkit-box-shadow: inset 0 3px 15px -10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 15px -10px rgba(0, 0, 0, 0.5);
}

main .wrapper .contacts .feedback form textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 4px rgba(0, 161, 225, 0.7);
  box-shadow: 0 0 4px rgba(0, 161, 225, 0.7);
}

main .wrapper .contacts .feedback form textarea:active {
  outline: none;
}

main .wrapper .contacts .feedback form div.submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .wrapper .contacts .feedback form div.submit .btn {
  border: none;
  padding: 15px 40px;
}

footer {
  color: #fff;
  background-color: #000f26;
}

footer a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  margin: 20px 0;
}

footer h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

footer .top-footer {
  padding: 40px 0;
  padding-left: 40px;
  padding-right: 40px;
}

footer .top-footer .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

footer .top-footer .wrapper div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: 22%;
}

footer .top-footer .wrapper .contacts img {
  margin-right: 10px;
}

footer .top-footer .wrapper .newsletter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

footer .top-footer .wrapper .newsletter p {
  margin-bottom: 30px;
}

footer .top-footer .wrapper .newsletter form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer .top-footer .wrapper .newsletter form input {
  padding: 8px 15px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border: none;
}

footer .top-footer .wrapper .newsletter form .button {
  padding: 8px 20px;
  background: url("../img/arrow-right.png") #00a1e1;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

footer .bottom-footer {
  background-color: #000a19;
  padding: 10px 0;
  padding-left: 40px;
  padding-right: 40px;
}

footer .bottom-footer .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .bottom-footer .wrapper .social-networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .bottom-footer .wrapper .social-networks a {
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  header .top-header {
    font-size: 14px;
  }

  header .top-header .logo img {
    width: 200px;
  }

  header .top-header .icon {
    margin-right: 5px;
  }

  header .top-header .request-call {
    padding: 0 5px;
  }

  header .top-header .basket {
    padding: 0 5px;
  }

  header nav .menu li.item a {
    font-size: 14px;
  }

  header nav .menu li.item a i {
    margin-left: 5px;
  }

  main #slider .slide .content {
    top: 15%;
  }

  main #slider .slide .content h2 {
    font-size: 30px;
  }

  main #slider .slide .content p {
    margin: 20px 0 25px 0;
  }

  main #slider .slide .content div .btn {
    padding: 10px 50px;
  }

  main .our-products .container .product {
    width: -webkit-calc(25% - 30px);
    width: calc(25% - 30px);
  }

  main .prodocts-by-categories .categories .category .wrap .title a {
    font-size: 22px;
  }

  main .our-clients .clients .client {
    height: 60px;
  }

  footer .top-footer .wrapper div {
    width: -webkit-calc(25% - 30px);
    width: calc(25% - 30px);
  }
}

@media screen and (max-width: 992px) {
  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  header {
    background-color: #000f26;
  }

  header .top-header {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  header .top-header {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  header .top-header .icon {
    margin-right: 0px;
  }

  header .top-header .telephones p {
    display: none;
  }

  header .top-header .request-call {
    display: none;
  }

  header .top-header .basket {
    padding: 0 10px;
  }

  header .top-header .basket p {
    display: none;
  }

  header .top-header .compare {
    display: none;
  }

  header nav {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }

  header nav {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  header nav .navbar-toggler {
    display: block;
  }

  header nav .menu {
    display: none;
  }

  header nav .menu {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav .menu {
    position: absolute;
  }

  header nav .menu {
    background: #fff;
  }

  header nav .menu {
    z-index: 4;
  }

  header nav .menu {
    border-top: solid 2px #00a1e1;
  }

  header nav .menu li.item {
    padding: 5px 15px;
  }

  header nav .menu li.item a {
    font-size: 12px;
  }

  header nav .menu li.item a {
    padding: 0;
  }

  header nav .menu li.item .arrow-up {
    border-bottom: 0px solid #00a1e1;
  }

  header nav .menu li.item .submenu {
    position: relative;
  }

  header nav .menu li.item .submenu {
    width: 190px;
  }

  header nav .menu li.item .submenu {
    border-top: solid 2px #00a1e1;
  }

  header nav .menu li.item .submenu {
    padding-bottom: 10px;
  }

  header nav .menu li.item .submenu li {
    margin-top: 10px;
  }

  main #slider .slide .content {
    top: 10%;
  }

  main #slider .slide .content h2 {
    font-size: 22px;
  }

  main #slider .slide .content p {
    font-size: 16px;
  }

  main #slider .slide .content p {
    margin: 10px 0 15px 0;
  }

  main #slider .slide .content p {
    line-height: 22px;
  }

  main .bg {
    display: none;
  }

  main .our-products .container .product {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  main .our-products .container .product {
    margin-top: 50px;
  }

  main .prodocts-by-categories .categories .category {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  main .prodocts-by-categories .categories .category .wrap .title a {
    font-size: 18px;
  }

  main .programs-brand .brands .program {
    width: -webkit-calc(25% - 30px);
    width: calc(25% - 30px);
  }

  main .advantages .advantag {
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
  }

  main .wrapper .contacts .left-bar {
    width: -webkit-calc(33.33333% - 30px);
    width: calc(33.33333% - 30px);
  }

  main .wrapper .contacts .right-bar {
    width: -webkit-calc(66.66667% - 30px);
    width: calc(66.66667% - 30px);
  }

  footer .top-footer .wrapper div {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  footer .top-footer .wrapper .shops {
    display: none;
  }

  footer .top-footer .wrapper .for-clients {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 14px;
  }

  header .top-header {
    padding-left: 15px;
    padding-right: 15px;
  }

  header nav {
    padding-left: 15px;
    padding-right: 15px;
  }

  main #slider .slide .content {
    right: 15px;
  }

  main #slider .slide .content {
    width: 55%;
  }

  main #slider .slide .content h2 {
    font-size: 16px;
  }

  main #slider .slide .content p {
    font-size: 14px;
  }

  main #slider .slide .content p {
    line-height: 14px;
  }

  main #slider .slide .content div {
    padding: 5px 0;
  }

  main #slider .slide .content div .btn {
    padding: 5px 30px;
  }

  main .our-products-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .our-products {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .our-products .container .product {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  main .prodocts-by-categories {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .programs-brand {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .advantages {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .our-clients {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .breadcrumb {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .title-page h1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .wrapper .contacts .left-bar {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  main .wrapper .contacts .right-bar {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  main .wrapper .contacts .feedback {
    width: -webkit-calc(83.33333% - 30px);
    width: calc(83.33333% - 30px);
  }

  footer .top-footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  footer .bottom-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 576px) {
  .btn {
    font-size: 12px;
  }

  header .top-header {
    padding-left: 0px;
  }

  header .top-header .logo img {
    width: 120px;
  }

  header .top-header .icon {
    width: 20px;
  }

  header nav .navbar-toggler {
    width: 20px;
  }

  main #slider .slide .content {
    top: 25%;
  }

  main #slider .slide .content {
    right: 5px;
  }

  main #slider .slide .content h2 {
    font-size: 14px;
  }

  main #slider .slide .content h2 {
    text-align: center;
  }

  main #slider .slide .content p {
    display: none;
  }

  main #slider .slide .content div .btn {
    padding: 5px 20px;
  }

  main #slider img.control.slick-arrow {
    bottom: 5px;
  }

  main #slider img.control.slick-arrow {
    width: 15px;
  }

  main #slider img.control.next.slick-arrow {
    right: 30px;
  }

  main #slider img.control.prev.slick-arrow {
    right: 10px;
  }

  main #slider .slick-dots li {
    width: 5px;
  }

  main #slider .slick-dots li.slick-active button:before {
    font-size: 10px;
  }

  main #slider .slick-dots li button:before {
    font-size: 5px;
  }

  main #slider .slick-dots {
    bottom: 0px;
  }

  main .prodocts-by-categories .categories .category {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  main .programs-brand .brands .program {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  main .about .content .text {
    margin: 0 15px;
  }

  main .about .content .img {
    display: none;
  }

  main .advantages .advantag {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  main .wrapper .contacts .feedback {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  footer .top-footer .wrapper div {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  footer .top-footer .wrapper .newsletter {
    display: none;
  }

  footer .bottom-footer .wrapper .social-networks p {
    display: none;
  }
}