@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/*@import "../libs/Font-Awesome/web-fonts-with-css/css/fontawesome-all.css";*/

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, Verdana;
  font-size: 14px;
}

.slick-slide {
  cursor: move;
}

.slick-slide:focus,
.slick-slide a {
  outline: none;
}

.btn {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #00a1e1;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  cursor: pointer;
  border: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border: solid 2px #00a1e1;
}

.btn:hover {
  /*text-decoration: underline;*/
  background-color: #fff;
  color: #00a1e1;
}

.select {
  border: solid 1px #f1f2f2;
  padding: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 3px 15px -10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 15px -10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.select i {
  margin-left: 10px;
}

.select .options {
  display: none;
  position: absolute;
  background-color: #fff;
  border: solid 1px #f1f2f2;
  border-top: none;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  width: 100%;
  left: -1px;
  top: 100%;
  padding: 0 0 10px 0;
  z-index: 1000;
}

.select .options .option {
  padding: 5px 10px;
}

.select .options .option:hover {
  background-color: #f1f2f2;
}

.checkbox i {
  border: solid 1px #f1f2f2;
  background-color: #f7f7f7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #f7f7f7;
  padding: 3px;
  /*box-shadow: inset 0 3px 10px -6px rgba(0, 0, 0, 0.9);*/
  -webkit-box-shadow: inset 0 3px 8px -8px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 3px 8px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  margin-right: 10px;
}

.checkbox i.active {
  color: #00a1e1;
}

input:focus {
  outline: none;
}

input:active {
  outline: none;
}

header .top-header {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #000f26;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

header .top-header div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
}

header .top-header .icon {
  margin-right: 10px;
}

header .top-header .request-call {
  background-color: #00a1e1;
  font-weight: 500;
  cursor: pointer;
  padding: 0 40px;
}

header .top-header .search {
  cursor: pointer;
}

header .top-header .basket {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00a1e1;
  padding: 0 20px;
}

header .top-header .language img {
  width: 100%;
  margin-left: 5px;
}

header nav {
  padding-left: 40px;
  padding-right: 40px;
}

header nav .navbar-toggler {
  font-size: 26px;
  display: none;
  color: #fff;
}

header nav .navbar-toggler .hide {
  display: none;
}

header nav .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header nav .menu li.item {
  position: relative;
  padding: 24px 0;
}

header nav .menu li.item a {
  color: #747474;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 25px 0;
}

header nav .menu li.item a i {
  margin-left: 10px;
}

header nav .menu li.item a:hover {
  color: #00a1e1;
}

header nav .menu li.item .arrow-up {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #00a1e1;
  position: absolute;
  left: 50%;
  bottom: 0;
  display: none;
}

header nav .menu li.item .submenu {
  position: absolute;
  background: #fff;
  top: 100%;
  z-index: 2000;
  width: 520px;
  border-top: solid 3px #00a1e1;
  display: none;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

header nav .menu li.item .submenu li {
  list-style-type: none;
  -webkit-flex-basis: 260px;
  -ms-flex-preferred-size: 260px;
  flex-basis: 260px;
  margin-top: 25px;
}

header nav .menu li.item .submenu li a {
  text-transform: none;
  margin-left: 20px;
}

header nav .menu li.item .submenu li a i {
  margin-right: 10px;
  color: #00a1e1;
}

/*@import "index";
@import "contacts";*/

main .breadcrumb {
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: inset 0 3px 20px -10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 20px -10px rgba(0, 0, 0, 0.5);
}

main .breadcrumb li {
  margin: 40px 15px 40px 0;
}

main .breadcrumb li img {
  margin-right: 8px;
}

main .breadcrumb li a {
  color: #00a1e1;
  text-decoration: none;
}

main .breadcrumb li a:hover {
  text-decoration: underline;
}

main .title-page {
  background: url(../img/lines.png) #000f26;
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
  padding: 20px 0;
}

main .title-page h1 {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 24px;
}

main .wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

main .wrapper .list-products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 40px;
}

main .wrapper .list-products .elem {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

main .wrapper .list-products .left-bar {
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
}

main .wrapper .list-products .left-bar .filters {
  border: solid 1px #eee;
}

main .wrapper .list-products .left-bar .filters h3 {
  font-size: 20px;
  text-align: center;
  color: #747474;
  padding: 40px 0;
}

main .wrapper .list-products .left-bar .filters .params {
  padding: 20px;
  border-top: solid 1px #eee;
}

main .wrapper .list-products .left-bar .filters .params .ui-widget.ui-widget-content {
  border: none;
  background-color: #e9e9e9;
  -webkit-box-shadow: inset 0 3px 15px -8px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 15px -8px rgba(0, 0, 0, 0.5);
}

main .wrapper .list-products .left-bar .filters .params .ui-widget-header {
  background-color: #00a1e1;
}

main .wrapper .list-products .left-bar .filters .params .ui-state-active {
  background-color: #00a1e1;
  border: none;
}

main .wrapper .list-products .left-bar .filters .params .inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #747474;
  margin-bottom: 20px;
}

main .wrapper .list-products .left-bar .filters .params .inputs input {
  width: 30%;
  margin-right: 10px;
  /*border-radius: 3px;
                                box-shadow: inset 0 3px 8px -8px rgba(0, 0, 0, 0.7);*/
  border: solid 1px #f1f2f2;
  -webkit-box-shadow: inset 0 3px 15px -10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 15px -10px rgba(0, 0, 0, 0.5);
  color: #747474;
  text-align: center;
  padding: 5px 0;
}

main .wrapper .list-products .left-bar .filters .params .inputs span {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

main .wrapper .list-products .left-bar .filters .params .title-params {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 15px;
}

main .wrapper .list-products .left-bar .filters .params .title-params h4 {
  color: #00a1e1;
}

main .wrapper .list-products .left-bar .filters .params .title-params i {
  color: #dcdcdc;
  padding: 5px 8px;
  border: solid 1px #dcdcdc;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}

main .wrapper .list-products .left-bar .filters .params .value-params .checkbox {
  margin-bottom: 15px;
}

main .wrapper .list-products .left-bar .filters .params .value-params .checkbox span {
  color: #747474;
}

main .wrapper .list-products .right-bar {
  width: -webkit-calc(75% - 30px);
  width: calc(75% - 30px);
}

main .wrapper .list-products .right-bar .filters-active {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

main .wrapper .list-products .right-bar .filters-active .list-active-filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

main .wrapper .list-products .right-bar .filters-active .list-active-filters li.filter-active {
  color: #747474;
  font-size: 16px;
  background-color: #f1f2f2;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 20px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

main .wrapper .list-products .right-bar .filters-active .list-active-filters li.filter-active span {
  margin-right: 10px;
}

main .wrapper .list-products .right-bar .filters-active .list-active-filters li.filter-active i {
  color: #dcdcdc;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

main .wrapper .list-products .right-bar .filters-active .list-active-filters li.filter-active:hover {
  color: #fff;
  background-color: #000f26;
}

main .wrapper .list-products .right-bar .filters-active .list-active-filters li.filter-active:hover i {
  color: #fff;
}

main .wrapper .list-products .right-bar .filters-active .list-active-filters li.reset {
  /*display: none;*/
  font-size: 16px;
  color: #747474;
  padding: 10px 20px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  border: solid 1px #fac0b5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

main .wrapper .list-products .right-bar .filters-active .list-active-filters li.reset:hover {
  background-color: #dc3545;
  border: solid 1px #dc3545;
  color: #fff;
}

main .wrapper .list-products .right-bar .filters-active .sorts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #747474;
}

main .wrapper .list-products .right-bar .filters-active .sorts .sort {
  margin-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

main .wrapper .list-products .right-bar .filters-active .sorts .sort span {
  margin-right: 10px;
}

main .wrapper .list-products .right-bar .filters-active .sorts .sort .select {
  min-width: 180px;
}

main .wrapper .list-products .right-bar .filters-active .sorts .view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
}

main .wrapper .list-products .right-bar .filters-active .sorts .view li {
  margin-left: 10px;
  padding: 7px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f1f2f2;
  cursor: pointer;
}

main .wrapper .list-products .right-bar .filters-active .sorts .view li.active {
  color: #00a1e1;
}

main .wrapper .list-products .right-bar .products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

main .wrapper .list-products .right-bar .products .product {
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px 3px rgba(238, 238, 238, 0.7);
  box-shadow: 0 0 10px 3px rgba(238, 238, 238, 0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
}

main .wrapper .list-products .right-bar .products .product .tools {
  padding: 15px;
}

main .wrapper .list-products .right-bar .products .product .tools span {
  margin-right: 10px;
  cursor: pointer;
}

main .wrapper .list-products .right-bar .products .product .img {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding-bottom: 20px;
}

main .wrapper .list-products .right-bar .products .product .img img {
  -webkit-transition: all .7s ease-out;
  -o-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

main .wrapper .list-products .right-bar .products .product .img img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

main .wrapper .list-products .right-bar .products .product .price {
  margin: 5px 0;
}

main .wrapper .list-products .right-bar .products .product .price span {
  background-color: #00a1e1;
  color: #fff;
  padding: 5px 15px 5px 30px;
}

main .wrapper .list-products .right-bar .products .product .price span strong {
  font-weight: 600;
  font-size: 16px;
}

main .wrapper .list-products .right-bar .products .product .price::after {
  content: '';
  border: 27px solid transparent;
  border-top-width: 0px;
  border-bottom-width: 27px;
  border-left-color: #00a1e1;
  position: absolute;
  width: 0;
  height: 0;
  margin: -3px 0 0 0px;
}

main .wrapper .list-products .right-bar .products .product .title {
  border-top: 2px dotted #ded9d9;
  text-align: center;
  padding: 20px 0;
  margin: 15px 0 0 0;
}

main .wrapper .list-products .right-bar .products .product .title a {
  font-size: 18px;
  color: #000f26;
  text-decoration: none;
}

main .wrapper .list-products .right-bar .products .product .title a:hover {
  text-decoration: underline;
}

main .wrapper .list-products .right-bar .products .product .description {
  color: #747474;
  text-align: justify;
  padding: 0 15px 15px 15px;
}

main .wrapper .list-products .right-bar .products .product .buy {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin: auto 0 0;
}

main .wrapper .list-products .right-bar .products .product .buy .btn {
  padding: 15px 60px;
  margin: 0 0 20px 0;
}

main .wrapper .list-products .right-bar .products .product {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
}

main .wrapper .list-products .right-bar .products-inline {
  display: none;
}

main .wrapper .list-products .right-bar .products-inline .product-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px 3px rgba(238, 238, 238, 0.7);
  box-shadow: 0 0 10px 3px rgba(238, 238, 238, 0.7);
  margin-bottom: 20px;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .img {
  padding: 20px 60px;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .img img {
  -webkit-transition: all .7s ease-out;
  -o-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .img img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

main .wrapper .list-products .right-bar .products-inline .product-inline .content .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .content .title a {
  font-size: 20px;
  color: #000f26;
  text-decoration: none;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .content .title a:hover {
  text-decoration: underline;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .content .title .tools span {
  margin-right: 10px;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .content .price {
  margin: 5px 0;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .content .price span {
  background-color: #00a1e1;
  color: #fff;
  padding: 10px 30px;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .content .price span strong {
  font-weight: 600;
  font-size: 16px;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .content .description {
  font-size: 18px;
  color: #747474;
  padding: 20px 20px 20px 0;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .content .buy {
  padding: 0 20px 20px 0;
  text-align: right;
}

main .wrapper .list-products .right-bar .products-inline .product-inline .content .buy .btn {
  padding: 15px 60px;
}

main .wrapper .text h2 {
  font-size: 24px;
  color: #747474;
  padding: 20px 0;
}

main .wrapper .text p {
  font-size: 16px;
  color: #747474;
  padding-bottom: 20px;
  text-align: justify;
}

main .wrapper .interesting-goods {
  margin-top: 20px;
  border-top: 2px solid #f7f8f8;
}

main .wrapper .interesting-goods h3 {
  font-size: 24px;
  color: #747474;
  padding: 20px 0;
}

main .wrapper .interesting-goods .interesting-goods-wrap {
  margin: 0 -20px;
}

main .wrapper .interesting-goods .slick-slide img {
  display: inherit;
}

main .wrapper .interesting-goods .product {
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px 3px rgba(238, 238, 238, 0.7);
  box-shadow: 0 0 10px 3px rgba(238, 238, 238, 0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
}

main .wrapper .interesting-goods .product .tools {
  padding: 15px;
}

main .wrapper .interesting-goods .product .tools span {
  margin-right: 10px;
  cursor: pointer;
}

main .wrapper .interesting-goods .product .img {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding-bottom: 20px;
}

main .wrapper .interesting-goods .product .img img {
  -webkit-transition: all .7s ease-out;
  -o-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

main .wrapper .interesting-goods .product .img img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

main .wrapper .interesting-goods .product .price {
  margin: 5px 0;
}

main .wrapper .interesting-goods .product .price span {
  background-color: #00a1e1;
  color: #fff;
  padding: 5px 15px 5px 30px;
}

main .wrapper .interesting-goods .product .price span strong {
  font-weight: 600;
  font-size: 16px;
}

main .wrapper .interesting-goods .product .price::after {
  content: '';
  border: 27px solid transparent;
  border-top-width: 0px;
  border-bottom-width: 27px;
  border-left-color: #00a1e1;
  position: absolute;
  width: 0;
  height: 0;
  margin: -3px 0 0 0px;
}

main .wrapper .interesting-goods .product .title {
  border-top: 2px dotted #ded9d9;
  text-align: center;
  padding: 20px 0;
  margin: 15px 0 0 0;
}

main .wrapper .interesting-goods .product .title a {
  font-size: 18px;
  color: #000f26;
  text-decoration: none;
}

main .wrapper .interesting-goods .product .title a:hover {
  text-decoration: underline;
}

main .wrapper .interesting-goods .product .description {
  color: #747474;
  text-align: justify;
  padding: 0 15px 15px 15px;
}

main .wrapper .interesting-goods .product .buy {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin: auto 0 0;
}

main .wrapper .interesting-goods .product .buy .btn {
  padding: 15px 60px;
  margin: 0 0 20px 0;
}

main .wrapper .interesting-goods .product {
  margin: 0 20px 40px 20px;
}

main .wrapper .interesting-goods .control {
  position: absolute;
  top: -50px;
  right: 15px;
  cursor: pointer;
}

main .wrapper .interesting-goods .left {
  right: 60px;
}

footer {
  color: #fff;
  background-color: #000f26;
}

footer a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  margin: 20px 0;
}

footer h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

footer .top-footer {
  padding: 40px 0;
  padding-left: 40px;
  padding-right: 40px;
}

footer .top-footer .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

footer .top-footer .wrapper div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: 22%;
}

footer .top-footer .wrapper .contacts img {
  margin-right: 10px;
}

footer .top-footer .wrapper .newsletter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

footer .top-footer .wrapper .newsletter p {
  margin-bottom: 30px;
}

footer .top-footer .wrapper .newsletter form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer .top-footer .wrapper .newsletter form input {
  padding: 8px 15px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border: none;
}

footer .top-footer .wrapper .newsletter form .button {
  padding: 8px 20px;
  background: url("../img/arrow-right.png") #00a1e1;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

footer .bottom-footer {
  background-color: #000a19;
  padding: 10px 0;
  padding-left: 40px;
  padding-right: 40px;
}

footer .bottom-footer .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .bottom-footer .wrapper .social-networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .bottom-footer .wrapper .social-networks a {
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  header .top-header {
    font-size: 14px;
  }

  header .top-header .logo img {
    width: 200px;
  }

  header .top-header .icon {
    margin-right: 5px;
  }

  header .top-header .request-call {
    padding: 0 5px;
  }

  header .top-header .basket {
    padding: 0 5px;
  }

  header nav .menu li.item a {
    font-size: 14px;
  }

  header nav .menu li.item a i {
    margin-left: 5px;
  }

  main .wrapper .list-products .right-bar .filters-active .sorts .sort span.title {
    display: none;
  }

  footer .top-footer .wrapper div {
    width: -webkit-calc(25% - 30px);
    width: calc(25% - 30px);
  }
}

@media screen and (max-width: 992px) {
  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  header {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  header {
    background-color: #000f26;
  }

  header .top-header {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  header .top-header {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  header .top-header .icon {
    margin-right: 0px;
  }

  header .top-header .telephones p {
    display: none;
  }

  header .top-header .request-call {
    display: none;
  }

  header .top-header .basket {
    padding: 0 10px;
  }

  header .top-header .basket p {
    display: none;
  }

  header .top-header .compare {
    display: none;
  }

  header nav {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }

  header nav {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  header nav .navbar-toggler {
    display: block;
  }

  header nav .menu {
    display: none;
  }

  header nav .menu {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav .menu {
    position: absolute;
  }

  header nav .menu {
    background: #fff;
  }

  header nav .menu {
    z-index: 4;
  }

  header nav .menu {
    border-top: solid 2px #00a1e1;
  }

  header nav .menu li.item {
    padding: 5px 15px;
  }

  header nav .menu li.item a {
    font-size: 12px;
  }

  header nav .menu li.item a {
    padding: 0;
  }

  header nav .menu li.item .arrow-up {
    border-bottom: 0px solid #00a1e1;
  }

  header nav .menu li.item .submenu {
    position: relative;
  }

  header nav .menu li.item .submenu {
    width: 190px;
  }

  header nav .menu li.item .submenu {
    border-top: solid 2px #00a1e1;
  }

  header nav .menu li.item .submenu {
    padding-bottom: 10px;
  }

  header nav .menu li.item .submenu li {
    margin-top: 10px;
  }

  main .wrapper .list-products .right-bar .filters-active .list-active-filters {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  main .wrapper .list-products .right-bar .filters-active .sorts {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  main .wrapper .list-products .right-bar .filters-active .sorts {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  main .wrapper .list-products .right-bar .products .product {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  footer .top-footer .wrapper div {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  footer .top-footer .wrapper .shops {
    display: none;
  }

  footer .top-footer .wrapper .for-clients {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 14px;
  }

  header .top-header {
    padding-left: 15px;
    padding-right: 15px;
  }

  header nav {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .breadcrumb {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .title-page h1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  footer .top-footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  footer .bottom-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 576px) {
  .btn {
    font-size: 12px;
  }

  header .top-header {
    padding-left: 0px;
  }

  header .top-header .logo img {
    width: 120px;
  }

  header .top-header .icon {
    width: 20px;
  }

  header nav .navbar-toggler {
    width: 20px;
  }

  footer .top-footer .wrapper div {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  footer .top-footer .wrapper .newsletter {
    display: none;
  }

  footer .bottom-footer .wrapper .social-networks p {
    display: none;
  }
}