@import url(../libs/Font-Awesome/web-fonts-with-css/css/fontawesome-all.css);

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

/*@import "../libs/Font-Awesome/web-fonts-with-css/scss/fontawesome.scss";*/

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, Verdana;
  font-size: 14px;
}

.btn {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #00a1e1;
  padding: 20px 75px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
}

.btn:hover {
  text-decoration: underline;
}

header .top-header {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #000f26;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

header .top-header div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 0;
}

header .top-header .telephones img {
  margin-right: 10px;
}

header .top-header .request-call {
  background-color: #00a1e1;
  font-weight: 500;
  cursor: pointer;
  padding: 0 40px;
}

header .top-header .search {
  cursor: pointer;
}

header .top-header .basket {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00a1e1;
  padding: 0 20px;
}

header .top-header .basket img {
  margin-right: 10px;
}

header .top-header .compare img {
  margin-right: 15px;
}

header .top-header .language img {
  margin-left: 10px;
}

main #slider .slide {
  position: relative;
}

main #slider .slide img {
  width: 100%;
}

main #slider .slide .content {
  position: absolute;
  top: 20%;
  right: 100px;
  z-index: 1001;
  width: 40%;
}

main #slider .slide .content h2 {
  color: #94e0fe;
  font-size: 45px;
  font-weight: 500;
}

main #slider .slide .content p {
  color: #fff;
  font-size: 18px;
  text-align: justify;
  margin: 20px 0 50px 0;
  line-height: 30px;
}

main #slider .slide .content div {
  text-align: center;
  padding: 20px 0;
}

main #slider .slick-slide:focus,
main #slider .slick-slide a {
  outline: none;
}

main #slider img.control.slick-arrow {
  position: absolute;
  z-index: 1000;
  bottom: 30px;
  cursor: pointer;
}

main #slider img.control.next.slick-arrow {
  right: 100px;
}

main #slider img.control.prev.slick-arrow {
  right: 40px;
}

main #slider .slick-dots li.slick-active button:before {
  opacity: 1.0;
  color: #00a1e1;
}

main #slider .slick-dots li.slick-active button:before {
  font-size: 20px;
}

main #slider .slick-dots li button:before {
  font-size: 10px;
  color: #fff;
  opacity: 1;
}

main #slider .slick-dots li:hover button:before {
  color: #00a1e1;
}

main #slider .slick-dots {
  bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .btn {
    padding: 10px 50px;
  }

  main #slider .slide .content {
    top: 15%;
  }

  main #slider .slide .content h2 {
    font-size: 30px;
  }

  main #slider .slide .content p {
    margin: 20px 0 25px 0;
  }
}

@media screen and (max-width: 992px) {
  main #slider .slide .content {
    top: 10%;
  }

  main #slider .slide .content h2 {
    font-size: 22px;
  }

  main #slider .slide .content p {
    font-size: 16px;
  }

  main #slider .slide .content p {
    margin: 10px 0 15px 0;
  }

  main #slider .slide .content p {
    line-height: 22px;
  }
}

@media screen and (max-width: 768px) {
  header .top-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 576px) {
  .btn {
    font-size: 12px;
  }

  .btn {
    padding: 5px 20px;
  }

  main #slider .slide .content {
    top: 25%;
  }

  main #slider .slide .content {
    right: 5px;
  }

  main #slider .slide .content {
    width: 55%;
  }

  main #slider .slide .content h2 {
    font-size: 14px;
  }

  main #slider .slide .content h2 {
    text-align: center;
  }

  main #slider .slide .content p {
    display: none;
  }

  main #slider img.control.slick-arrow {
    bottom: 5px;
  }

  main #slider img.control.slick-arrow {
    width: 15px;
  }

  main #slider img.control.next.slick-arrow {
    right: 30px;
  }

  main #slider img.control.prev.slick-arrow {
    right: 10px;
  }

  main #slider .slick-dots li {
    width: 5px;
  }

  main #slider .slick-dots li.slick-active button:before {
    font-size: 10px;
  }

  main #slider .slick-dots li button:before {
    font-size: 5px;
  }

  main #slider .slick-dots {
    bottom: 0px;
  }
}